body {
    padding-top: 70px;
}

.modal-backdrop {
    bottom : 0;
}

.directive-password {
    position : relative;
}

.directive-password .form-control {
    padding-right : 40px;
}

.directive-password .btn {
    position   : absolute;
    top        : 0;
    right      : 0;
    bottom     : 0;
    background : transparent;
    border     : transparent;
    color      : #555;
}