<ng-form name="confirmPasswordForm">
    <div class="form-group" show-errors>
        <label for="password">Password</label>
        <password ng-model="ngModel" placeholder="Password" name="password"></password>
    </div>

    <div class="form-group" show-errors>
        <label for="password_confirmation">Password confirmation</label>
        <password ng-model="toConfirm"
                  placeholder="Password confirmation"
                  name="password_confirmation"></password>
    </div>
</ng-form>