<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/ladda/dist/ladda-themeless.min.css"/>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/style.css">
    <!-- endbuild -->
</head>
<body ng-app="aratoApp" ng-cloak>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top col-md-offset-2" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="navbar-left">
                    <form action="" class="navbar-form">
                        <input type="text" class="form-control" placeholder="search"/>
                    </form>
                </div>
                <div class="navbar-right">
                    <a href="#/alerts/new" class="btn btn-primary navbar-btn"
                       style="margin-left: 15px; margin-right:15px;"><span class="glyphicon glyphicon-plus"></span>
                        Nouvelle alerte</a>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="sidebar col-md-2">
        <div class="sidebar-brand">
            <a href="#/alerts">Arato.</a>
        </div>
        <section>
            <ul class="sidebar-nav">
                <li ng-class="{'active' : location.path().startsWith('/alerts')}">
                    <a href="#/alerts">Alerts</a>
                </li>
                <li ng-class="{'active' : location.path().startsWith('/users')}">
                    <a href="#/alerts">Users</a>
                </li>
            </ul>

            <div class="sidebar-profile text-center">
                <div class="img-responsive">
                    <img ng-src="" alt="" class="img-circle img-thumbnail"/>
                </div>
                <div ng-if="!authUser.email">
                    <p><a ng-href="#/login">Login</a> - <a ng-href="#/signup">Create an
                        account</a></p>
                </div>
                <div ng-if="authUser.email">
                    <p>{{authUser.email}}</p>
                </div>
            </div>
        </section>

    </div>
    <div class="content col-md-10 col-md-offset-2">
        <!-- Add your site or application content here -->
        <div ng-view=""></div>
    </div>
</div>

<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/spin.js/spin.js"></script>
<script src="bower_components/ladda/dist/ladda.min.js"></script>
<script src="bower_components/angular-ladda/dist/angular-ladda.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<script src="scripts/vendors/sugarjs-1.4.1.min.js"></script>
<script src="scripts/vendors/directives/showerrors.directive.js"></script>

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/run.js"></script>
<script src="scripts/services/alertservice.js"></script>
<script src="scripts/controllers/alerts.js"></script>
<script src="scripts/controllers/alert.js"></script>
<script src="scripts/services/authservice.js"></script>
<script src="scripts/services/userservice.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/services/routeservice.js"></script>
<script src="scripts/services/base64.js"></script>
<script src="scripts/filters/toreadableuser.js"></script>
<script src="scripts/directives/password.js"></script>
<script src="scripts/directives/maxlengthtitle.js"></script>
<script src="scripts/controllers/profile.js"></script>
<script src="scripts/services/profileservice.js"></script>
<script src="scripts/directives/confirmpassword.js"></script>
<script src="scripts/directives/animate.js"></script>

<script src="scripts/controllers/signup.js"></script>
<script src="scripts/controllers/passwordreset.js"></script>
<script src="scripts/controllers/passwordremind.js"></script>
<script src="scripts/services/passwordservice.js"></script>
<!-- endbuild -->
</body>
</html>
