<div class="row" style="margin-bottom: 40px;">
    <div class="col-sm-12">
        <div class="pull-right">
            <pagination total-items="pagination.total_count"
                        ng-model="pagination.current_page"
                        items-per-page="pagination.limit"
                        ng-show="pagination.total_pages > 1"
                        max-size="10"
                        class="pagination-sm pagination-no-margin"></pagination>
        </div>
        <button ng-click="addAlert()" class="btn btn-success">
            <i class="glyphicon glyphicon-plus"></i> new alert
        </button>
    </div>
</div>

<div class="panel"
     ng-class="alert.user.id === authUser.id ? 'panel-info' : 'panel-default'"
     ng-repeat="alert in alerts | orderBy: '-created_at'">
    <div class="panel-heading">
        <h2 class="panel-title">
            <span class="pull-right">{{alert.price | currency}}</span>
            {{alert.title}}
        </h2>
        <span class="text-muted">by {{alert.user.email}}, {{alert.created_at | date: 'dd/MM/yyyy HH:mm'}}</span>
    </div>
    <div class="panel-body">
        <p>{{alert.content}}</p>

        <div ng-if="alert.user.id === authUser.id">
            <a href="" ng-click="editAlert(alert)">Edit</a>
            -
            <a href="" ng-click="deleteAlert(alert)">Delete</a>
        </div>
    </div>
</div>
