<div class="panel panel-default" ng-if="!editable">
    <div class="panel-heading">
        <h2 class="panel-title">
            {{alert.title}}
            <small> - par {{alert.user_id | toReadableUser}}</small>
        </h2>
    </div>
    <div class="panel-body">
        <p>{{alert.price | currency}}</p>

        <p>{{alert.content}}</p>
    </div>
    <div class="panel-footer">
        <button class="btn btn-primary" ng-click="edit()" ng-if="alert.user_id === authUser.id">Editer</button>
        <button class="btn btn-danger" ng-click="delete(alert.id)" ng-if="alert.user_id === authUser.id">Supprimer
        </button>
    </div>
</div>

<form name="alertForm" role="form" ng-submit="saveAlert()" ng-if="editable" animation="error">
    <alert type="danger" ng-show="error">Veuillez corriger vos erreurs</alert>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="titre"
                       ng-model="alert.title"
                       required max-length-title/>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="price">Prix</label>
                <input type="number" class="form-control" id="price" placeholder="prix"
                       ng-model="alert.price" min="0" required>
            </div>
            <div class="form-group">
                <label for="content">Contenu</label>
        <textarea class="form-control" id="content" name="content" placeholder="content"
                  ng-model="alert.content"></textarea>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-success"
                    ng-disabled="alertForm.$invalid || loading"
                    ladda="loading" data-style="zoom-out">
                Enregistrer
            </button>
        </div>
    </div>
</form>