<div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        <div class="panel panel-default">
            <form ng-submit="login()" name="loginForm" role="form">
                <div class="panel-heading">
                    <h2 class="panel-title">Connexion</h2>
                </div>
                <div class="panel-body">
                    <alert type="danger" ng-show="error">Mauvais identifiants</alert>

                    <div class="form-group">
                        <label for="email">Adresse email</label>
                        <input type="email" class="form-control" id="email" name="email"
                               placeholder="email"
                               ng-model="email" required>
                    </div>
                    <password ng-model="password" label="Mot de passe" name="password"
                              placeholder="Mot de passe" required></password>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary"
                            ng-disabled="loginForm.$invalid || loading"
                            ladda="loading" data-style="zoom-out">
                        Se connecter
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>