<div class="grid-block align-center vertical">
    <div class="grid-block small-4">
        <form ng-submit="login()" name="loginForm" role="form">
            <alert type="danger" ng-show="error">Invalid credentials</alert>
            <label>
                Email
                <input type="email" name="email"
                       placeholder="Email"
                       ng-model="email" required>
            </label>
            <a href="#/password/remind" class="pull-right">Forgotten password ?</a>
            <label>
                Password
                <password ng-model="password" name="password"
                          placeholder="Password" required></password>
            </label>

            <button type="submit" class="btn btn-success"
                    ng-disabled="loginForm.$invalid || loading"
                    ladda="loading" data-style="zoom-out">
                Login
            </button>
        </form>
    </div>
    <div class="grid-block">
        <p class=" text-center">
            or <br/><br/>
            <a href="#/signup" class="btn btn-primary">Create new account</a>
        </p>
    </div>
</div>

