<form ng-submit="remind()" name="reminderForm" role="form" animatecss="error" ng-show="!emailSent">
    <alert type="danger" ng-show="error">{{errorMessage}}</alert>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Forgotten password ?</h2>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email"
                       placeholder="Email"
                       ng-model="email" required>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-success"
                    ng-disabled="reminderForm.$invalid || loading"
                    ladda="loading" data-style="zoom-out">
                Update password
            </button>
        </div>
    </div>
</form>

<div ng-show="emailSent">
    An email has just been sent to you. Please check your inbox.
</div>