<form ng-submit="resetPassword()" name="resetForm" role="form" animatecss="error">
    <alert type="danger" ng-show="error">{{errorMessage}}</alert>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Update password</h2>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email"
                       placeholder="Email"
                       ng-model="user.email" required>
            </div>
            <confirm-password ng-model="password"
                              to-confirm="password_confirmation"></confirm-password>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-success"
                    ng-disabled="resetForm.$invalid || loading"
                    ladda="loading" data-style="zoom-out">
                Save new password
            </button>
        </div>
    </div>
</form>