<form ng-submit="resetPassword()" name="resetForm" role="form" animatecss="error">
    <alert type="danger" ng-show="error">{{errorMessage}}</alert>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Mettre à jour le mot de passe</h2>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="email">Adresse email</label>
                <input type="email" class="form-control" id="email" name="email"
                       placeholder="email"
                       ng-model="user.email" required>
            </div>
            <confirm-password label="Confirmation mot de passe"
                              id="password_confirmation"
                              name="password_confirmation"
                              ng-model="user.password"
                              to-confirm="user.password_confirmation"
                              placeholder="Confirmation mot de passe"></confirm-password>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-success"
                    ng-disabled="resetForm.$invalid || loading"
                    ladda="loading" data-style="zoom-out">
                Enregistrer
            </button>
        </div>
    </div>
</form>