<div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        <form name="userForm" ng-submit="save()" animate="error">
            <alert type="danger" ng-show="errorMessage">
                <ul style="margin-bottom: 0;">
                    <li ng-repeat="m in errorMessage">{{m}}</li>
                </ul>
            </alert>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Profil</h2>
                </div>
                <div class="panel-body">
                    <div class="form-group" show-errors>
                        <label for="email" class="control-label">Adresse email</label>
                        <input type="email" class="form-control" id="email" name="email" ng-model="user.email">
                    </div>
                    <confirm-password label="Confirmation mot de passe"
                                      id="password_confirmation"
                                      name="password_confirmation"
                                      ng-model="user.password"
                                      to-confirm="user.password_confirmation"
                                      placeholder="Confirmation mot de passe"></confirm-password>
                    <div class="form-group" style="margin-bottom: 0">
                        <button type="submit" class="btn btn-success btn-embossed"
                                ng-disabled="userForm.$invalid || loading"
                                ladda="loading" data-style="zoom-out">
                            Mettre à jour les informations
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>