<div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        <form ng-submit="signup()" name="signupForm" role="form" animate="error">
            <alert type="danger" ng-show="errorMessage">
                <ul style="margin-bottom: 0;">
                    <li ng-repeat="m in errorMessage">{{m}}</li>
                </ul>
            </alert>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Nouveau compte</h2>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="email">Adresse email</label>
                        <input type="email" class="form-control" id="email" name="email"
                               placeholder="email"
                               ng-model="email" required>
                    </div>
                    <confirm-password label="Confirmation mot de passe"
                                      id="password_confirmation"
                                      name="password_confirmation"
                                      ng-model="password"
                                      to-confirm="password_confirmation"
                                      placeholder="Confirmation mot de passe"></confirm-password>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-success btn-embossed"
                            ng-disabled="signupForm.$invalid || loading"
                            ladda="loading" data-style="zoom-out">
                        Créer un nouveau compte
                    </button>
                </div>
            </div>
        </form>

        <p class="text-center">
            ou <br/><br/>
            <a href="#/login" class="btn btn-primary btn-embossed">Se connecter</a>
        </p>
    </div>
</div>