<form ng-submit="signup()" name="signupForm" role="form" animatecss="error">
    <alert type="danger" ng-show="errorMessage">
        <ul style="margin-bottom: 0;">
            <li ng-repeat="m in errorMessage">{{m}}</li>
        </ul>
    </alert>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">New account</h2>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email"
                       placeholder="email"
                       ng-model="email" required>
            </div>
            <confirm-password ng-model="password"
                              to-confirm="password_confirmation"></confirm-password>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-success"
                    ng-disabled="signupForm.$invalid || loading"
                    ladda="loading" data-style="zoom-out">
                Create a new account
            </button>
        </div>
    </div>
</form>

<p class="text-center">
    or <br/><br/>
    <a href="#/login" class="btn btn-primary btn-embossed">login</a>
</p>