<div class="form-group directive-password" ng-cloak>
    <label for="password">Mot de passe</label>
    <input type="password" ng-model="ngModel" id="password" class="form-control" ng-hide="visibility"
           placeholder="{{placeholder}}"  ng-cloak/>
    <input type="text" ng-model="ngModel" id="password" class="form-control" ng-show="visibility"
           placeholder="{{placeholder}}"  ng-cloak/>

    <button ng-click="toggleVisibility()" type="button">
        <i class="glyphicon" ng-class="visibility ? 'glyphicon-eye-close' : 'glyphicon-eye-open'"></i>
    </button>
</div>