<div class="form-group directive-password" ng-cloak>
    <label for="password">Mot de passe</label>

    <div class="input-group">
        <input type="password" ng-model="ngModel" id="password" class="form-control"
               placeholder="{{placeholder}}"/>
        <span class="input-group-btn">
            <button ng-click="toggleVisibility()" type="button" class="btn btn-default"
                    ng-class="{'btn-warning active' : visibility}">
                <i class="glyphicon"
                   ng-class="visibility ? 'glyphicon-eye-open' : 'glyphicon-eye-close'"></i>
            </button>
        </span>
    </div>
</div>